/* Global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyBg {
    background-color: #eaeaea;
}

.whiteBg {
    background-color: #ffffff;
}

.greyFont {
    color: #b1b1b1;
}

.darkGreyFont {
    color: #6b7376;
}

/* Application wrapper rules */ 

#app {
    width: 85%;
    height: 95%;
    display: flex;
    background-color: red;
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 500px;
    background-color: green;
    display: flex;
    flex-direction: column;
}

/* User options rules */

.userOptions {

}

/* Notifications bar rules */

.notifications {
    height: 100px;
    background-color: #8ddbfc;
}