/* Global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom,
        #009688 0px,
        #009688 135px,
        #dddbd1 135px,
        #d2dbdc 100%
    )
}

.bg-grey {
    background-color: #eaeaea;
}

.bg-light-grey {
    background-color: #f3eeea;
}

.bg-white {
    background-color: #ffffff;
}

.text-grey {
    color: #b1b1b1;
}

.text-dark-grey {
    color: #6b7376;
}

i:not(.search-bar i) {
    font-size: 32px;
    cursor: pointer;
}

/* Application wrapper rules */ 

#app {
    width: 85%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
}

/* Sidebar rules */

#sidebar {
    height: 100%;
    min-width: 490px;
    max-width: 490px;
    display: flex;
    flex-direction: column;
}

/* User panel rules */

#user-options,
#recipient-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.user, 
.recipient {
    display: flex;
    align-items: center;
}

.username {
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
}

.options {
    display: flex;
    flex-wrap: nowrap;
}

.options i {
    margin-right: 27px;
}

/* Notifications bar rules */

.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ddbfc;
    white-space: nowrap;
    padding: 25px;
}

.bell {
    color: #8ddbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bell i {
    cursor: default;
    padding: 20px 15px;
}

.turn-on-notifications {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.turn-on-notifications a {
    font-size: 20px;
    color: #697485;
    margin-top: 5px;
}

/* Search bar rules */

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 95%;
    height: 70%;
    padding: 30px 20px;
}

.search-bar i {
    margin-right: 30px;
}

#search {
    font-size: 20px;
    flex-grow: 1;
    border: 0;
}

#search:focus-visible {
    outline: 0;
}

/* Contact list rules */ 

.contact-list {
    list-style-type: none;
    overflow-y: scroll;
    flex-grow: 1;
}

.contact-entry {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
}

.contact-entry:hover:not(.selected) {
    background-color: #f5f5f5;
}

.selected {
    background-color: #ebebeb;
}

.contact-entry span {
    align-self: flex-start;
    margin-left: 30px;
}

.contact-name {
    font-size: 26px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start
}

.contact-message, .contact-date {
    font-size: 18px;
    white-space: nowrap;
}

.contact-message {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
    margin-top: 10px;
}

.contact-date {
    position: absolute;
    right: 15px;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
}

.avatar-wrapper img {
    max-height: 100%;
    border-radius: 50%;
}

/* Messaging interface rules */

#app-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    border-left: 1px solid lightgrey;
}

/* Recipient panel rules */ 

.recipient-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.recipient-status {
    font-size: 20px;
    margin-top: 5px;
}

/* Message input field rules */

.msg-bar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

#app-main .msg-bar-wrapper i {
    font-size: 40px;
    cursor: pointer;
}

#msg-bar {
    flex-grow: 1;
    margin: 0 30px;
    padding: 20px;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
}

#msg-bar:focus-visible {
    outline: 0;
}

/* Messages section */

.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 40px 0;
}

/* Message classes */

.message {
    padding: 25px 20px 30px 20px;
    margin: 8px 0;
    border-radius: 15px;
    position: relative;
    min-width: 300px;
}

.message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
    margin-right: 80px;
}

.message.received {
    align-self: flex-start;
    background-color: white;
    margin-left: 80px;
}

.message-text {
    margin-bottom: 10px;
}

.message-date {
    position: absolute;
    bottom: 6px;
    right: 9px;
    font-size: 15px;
    white-space: nowrap;
}

.messages .dropdown-arrow {
    display: none;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
}

.message:hover .dropdown-arrow {
    display: block;
}

.dropdown-menu {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
    flex-direction: column;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 10px grey;
}

.message-info,
.delete-message {
    white-space: nowrap;
    cursor: pointer;
    padding: 25px 30px;
}

.message-info:hover {
    background-color: #eaeaea;
}

.delete-message:hover {
    background-color: #eaeaea;
}

/* Confirm deletion prompt rules */

.overlay {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd7;
}

.overlay .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    min-height: 180px;
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    white-space: nowrap;
    padding: 25px;
}

.popup-question {
    align-self: flex-start;
    color: black;
}

.popup-controls {
    margin-top: 50px;
}

.popup-controls > * {
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: 0.2s;
}

.popup-controls > *:hover {
    box-shadow: 0px 1px 5px grey;
}

.popup-controls button:first-child {
    color: #05cd51;
    background-color: white;
}

.popup-controls button:last-child{
    color: white;
    background-color: #05cd51;
}